# deps
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# builds
dist
dist-ssr
*.local

# editors
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# vite / ts
.vite
*.tsbuildinfo

# env
.env
.env.local
.env.*.local
